@font-face {
    font-family: 'Nanum Barunpen';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBarunpen/Nanumbarunpen.otf');
}
@font-face {
    font-family: 'Nanum Barunpen';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBarunpen/NanumbarunpenBold.otf');
}
